
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  width: 100%;
  min-height: 100vh;
  background-color: #282C34;
  
}
.header{
  text-align: center;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 75px;
  font-weight: 300;
  letter-spacing:15px;
  color: rgb(15, 199, 199);	
  padding-top: 20px;
}
.section{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 30px 0px 0px 0px;
  
}

@media screen and (max-width:800px)
{
  .header{
    font-size: 30px;
  }


}